/* Projectes */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  }
  @media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
  width: 100%;
  padding: 0;
  }
}
  